<div class='container'>
  <div class="alert alert-warning text-center" role="alert">
    Click the link below, to get all live tweets related to cricket
  </div>
  <div class='text-center'>
    <%=link_to 'Get All live cricket Tweets', live_cricket_tweets_path %>
    <strong> --OR-- </strong>
    <%=link_to 'Get tweets from database', tweets_path %>
  </div>
</div>
